<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8">
<link href="/css/style2.css" rel="stylesheet">
<style type="text/css">
select[readonly] {
	background: #eee; /*Simular campo inativo - Sugestão @GabrielRodrigues*/
	pointer-events: none;
	touch-action: none;
}
</style>
</head>
<div id="alteraPerguntaModal" class="modal fade" role="dialog"
	th:fragment="alteraPergunta" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header" style="background: #093159;">
				<h4 class="modal-title">
					<span style="font-weight: bold; color: white;">Alterar
						Pergunta</span>
				</h4>
			</div>

			<form th:action="@{/pergunta/altera}" method="post"
				th:object="${pergunta}" id="altera-pergunta-form">

				<!-- Input values -->
				<div class="modal-body container col-md-8">
					<div class="form-row" align="center">
						<div class="form-group col-md-10 mt-3" hidden="">
							<label>ID</label> <input type="text" th:field="*{id}"
								id="inputPerguntaId" class="form-control col-sm-3"
								readonly="readonly" required="required" />
						</div>
						<div class="form-group mt-3" align="center">
							<label>Prova</label><select class="form-control"
								id="inputOfertaAvaliação" th:field="*{prova}"
								style="width: 215px;" readonly="readonly">
								<option th:each="prova: ${provas}" th:value="${prova.id}"
									th:text="${prova.nome}" />
							</select>
						</div>
						<div class="form-group col-md-7 mt-3">
							<label id="inputProdutoDescricao-label"><textarea
									class="form-control" id="inputProdutoDescricao"
									placeholder="Descrição" rows="5" th:field="*{descricao}"
									required="required"></textarea></label>
						</div>
					</div>
				</div>

				<!-- buttons -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Salvar</button>
				</div>
			</form>
		</div>
	</div>
</div>
</html>