<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
</head>
<body>

	<ul
		class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
		id="accordionSidebar">

		<!-- Sidebar - Brand -->
		<a
			class="sidebar-brand d-flex align-items-center justify-content-center mt-3 mb-3"
			href="/inicio">
			<div id="logo">
				<img src="/img/logoAvaliacao.png" />
			</div>
		</a>

		<!-- Divider -->
		<hr class="sidebar-divider my-0">

		<!-- Nav Item - Dashboard -->
		<li class="nav-item active"><a class="nav-link" href="/inicio">
				<i class="fas fa-fw fa-tachometer-alt"></i> <span>Dashboard</span>
		</a></li>

		<span sec:authorize="hasRole('ADMIN') || hasRole('TEACHER')"> <!-- Divider -->
			<hr class="sidebar-divider"> <!-- Heading -->
			<div class="sidebar-heading">Interface</div> <!-- Nav Item - Utilities Collapse Menu -->
			<li class="nav-item"><a class="nav-link collapsed" href="#"
				data-toggle="collapse" data-target="#collapseUtilities"
				aria-expanded="true" aria-controls="collapseUtilities"> <i
					class="fas fa-fw fa-wrench"></i> <span>Cadastros</span>
			</a>
				<div id="collapseUtilities" class="collapse"
					aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
					<div class="bg-white py-2 collapse-inner rounded">
						<h6 class="collapse-header">Funcionalidades:</h6>
						<a class="collapse-item" href="/cadastros">Opções</a>
					</div>
				</div></li>
		</span>
		<!-- Divider -->
		<hr class="sidebar-divider">

		<!-- Nav Item - Pages Collapse Menu -->
		<li class="nav-item"><a class="nav-link collapsed" href="#"
			data-toggle="collapse" data-target="#collapsePages"
			aria-expanded="true" aria-controls="collapsePages"> <i
				class="fas fa-fw fa-table"></i> <span>Tabelas</span>
		</a>
			<div id="collapsePages" class="collapse"
				aria-labelledby="headingPages" data-parent="#accordionSidebar">
				<div class="bg-white py-2 collapse-inner rounded">
					<a class="collapse-item" href="/avaliacao/lista">Avaliações</a><span
						sec:authorize="hasRole('ADMIN') || hasRole('TEACHER')"> <a
						class="collapse-item" href="/prova/lista">Provas</a> <a
						class="collapse-item" href="/pergunta/lista">Perguntas</a></span> <a
						class="collapse-item" href="/resposta/lista">Respostas</a><span
						sec:authorize="hasRole('ADMIN')"> <a class="collapse-item"
						href="/usuario/lista">Usuários</a>
						<a class="collapse-item"
						href="/usuario/listaRole">Tipos de Usuários</a>
						<a class="collapse-item"
						href="/usuario/listaPermissao">Permissões</a></span>
				</div>
			</div></li>
		<!-- Divider -->
		<hr class="sidebar-divider d-none d-md-block">

	</ul>

	<!-- Footer -->
	<footer class="sticky-footer bg-white">
		<div class="container my-auto">
			<div class="copyright text-center my-auto">
				<span>Copyright &copy; Fabiano Martins 2020</span>
			</div>
		</div>
	</footer>
	<!-- End of Footer -->

</body>
</html>