<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">
<title>Avaliação</title>
<link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet"
	type="text/css">
<link href="/font-awesome-4.7.0/css/font-awesome.min.css"
	rel="stylesheet">
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/style1.css">
<link href="/css/sb-admin-2.min.css" rel="stylesheet">
</head>
<body id="page-top">

	<!-- Page Wrapper -->
	<div id="wrapper">

		<!-- Sidebar -->

		<ul th:replace="~{fragments/sidebarFooter :: ul}"></ul>

		<!-- End of Sidebar -->

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<!-- Topbar -->

				<nav th:replace="~{fragments/topbar}"></nav>

				<!-- End Topbar -->

				<div class="container">

					<div class="card-body mt-5 col-md-8">
						<div class="card mb-4 p-4">
							<div class="form-group mt-3">
								<h1 class="card-title h3 mb-2 text-gray-800 tab">Cadastro
									de Funcionalidades</h1>
							</div>
							<hr>
							<div id="success" class="mdl-list__item mt-2 alert alert-success"
								th:if="${msg_resultado}">
								<p id="p-mensagem-sucesso" class="sucesso-msg"
									th:text="${msg_resultado}">...</p>
							</div>
							<div class="form-row">
								<div class="form-group mt-3 d-btn ">
									<a class="btn btn-primary btn-width" href="#" type="button"
										th:onclick="'javascript:abreFormAvaliacaoModal();'"><i
										class="fa-sm text-white-50"></i>Cadastrar Avaliação</a>
								</div>
								<div class="form-group mt-3 d-btn ">
									<a class="btn btn-primary btn-width" href="#" type="button"
										th:onclick="'javascript:abreFormProvaModal();'"><i
										class="fa-sm text-white-50"></i>Cadastrar Prova</a>
								</div>
							</div>
							<hr>
							<div class="form-row">
								<div class="form-group mt-3 d-btn ">
									<a class="btn btn-primary btn-width" href="#" type="button"
										th:onclick="'javascript:abreFormPerguntaModal();'"><i
										class="fa-sm text-white-50"></i>Cadastrar Pergunta</a>
								</div>
								<div class="form-group mt-3 d-btn ">
									<a class="btn btn-primary btn-width" href="#" type="button"
										th:onclick="'javascript:abreFormRespostaModal();'"><i
										class="fa-sm text-white-50"></i>Cadastrar Resposta</a>
								</div>
							</div>
							<hr>
							<div class="form-row">
								<div class="form-group mt-3 d-btn ">
									<a class="btn btn-primary btn-width" href="#" type="button"
										th:onclick="'javascript:abreFormUsuarioModal();'"><i
										class="fa-sm text-white-50"></i></span> <span
										sec:authorize="hasRole('ADMIN')">Cadastrar Usuario</span></span> <span
										sec:authorize="hasRole('TEACHER')">Cadastra Aluno</span></a>
								</div>
							</div>
							<hr>
							</span> <span sec:authorize="hasRole('ADMIN')">
								<div class="form-row">
									<div class="form-group mt-3 d-btn ">
										<a class="btn btn-primary btn-width" href="#" type="button"
											th:onclick="'javascript:abreFormRoleModal();'"><i
											class="fa-sm text-white-50"></i>Cadastrar Tipo do Usuário</a>
									</div>
									<div class="form-group mt-3 d-btn ">
										<a class="btn btn-primary btn-width" href="#" type="button"
											th:onclick="'javascript:abreFormPermissaoModal();'"><i
											class="fa-sm text-white-50"></i>Cadastrar Permissao</a>
									</div>
								</div>
							</span>
							<hr>
						</div>
					</div>
					<!-- End of row -->
				</div>
				<!-- /.container -->
			</div>
			<!-- End of Main Content -->

			<!-- Footer -->
			<footer th:insert="~{fragments/sidebarFooter :: footer}"></footer>
			<!-- End of Footer -->
		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->

	<div th:fragment="formAvaliacao" id="formAvaliacaoModalHolder"></div>
	<div th:fragment="formPergunta" id="formPerguntaModalHolder"></div>
	<div th:fragment="formUsuario" id="formUsuarioModalHolder"></div>
	<div th:fragment="formProva" id="formProvaModalHolder"></div>
	<div th:fragment="formResposta" id="formRespostaModalHolder"></div>
	<div th:fragment="formPermissao" id="formPermissaoModalHolder"></div>
	<div th:fragment="formRole" id="formRoleModalHolder"></div>

</body>
</html>